<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Candidate's profile</title>
    </head>
    <body>
        {% for candidate in profiles %}
            {% if candidate.get('id') == cid %}
                <h1>{{ candidate.name }}</h1>
                <p>{{ candidate.position }}</p>
                <img src="{{ candidate.picture }}" width=200/>
                <p>Навыки: {{ candidate.skills }}</p>
            {% endif %}
        {% endfor %}
    </body>
</html>